@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.nav {
  background-color: white;
  border-bottom: 1px solid #ddd;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: initial;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;
  background: #65c4fa;
  filter: blur(50px);
}
.overlay {
  position: relative;
  transition: all 0.4s ease;
}
.overlay::after {
  content: "Join Us!!";
  font-weight: 800;
  font-size: 40px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 0px;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  bottom: 0px;
  opacity: 0;
  transition: all 0.4s ease;
}
.overlay:hover::after {
  opacity: 1;
  height: 100%;
}
.TopRated-bg {
  background: -webkit-linear-gradient(#23022e, #9002c0);
}

.CategoryModal {
  display: none;
}
.category-link:hover ~ .CategoryModal {
  display: block;
}
.CategoryModal:hover {
  display: block;
}
.message {
  transition: all 0.2s ease-in-out;
  height: 500px;
}

.black_border {
  border-bottom: 3px solid #000000;
}
.blackhover {
  position: relative;
  /* box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.032),
    0 0.37px 4.42626px rgba(0, 0, 0, 0.048), 0 3px 7px rgba(0, 0, 0, 0.09); */
}

.blackhover::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  width: 0px;
  height: 200px;
  transition: all 0.1s linear;
}

.blackhover:hover::before {
  width: 240px;
}
.gigs:hover .pink-hover {
  height: 200px;
  transition: height 0.5s ease, opacity 1s;
  opacity: 1;
  z-index: 999;
}
.pink-hover {
  position: absolute;
  box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.032),
    0 0.37px 4.42626px rgba(0, 0, 0, 0.048), 0 3px 7px rgba(0, 0, 0, 0.09);
  background: #11113a;
  z-index: 999;
  width: 288px;
  height: 0px;
  z-index: -1;
  opacity: 0;
  bottom: 0;
}

.Badge {
  position: relative;
}
.Badge::after {
  position: absolute;
  content: attr(data-current-count);
  font-size: 10px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  border-radius: 50%;
  background-color: red;
  color: white;
  top: -8px;
  right: -8px;
}

.center-div {
  width: 0.9rem;
  height: 0.9rem;
  background-color: #ee5253;
  position: relative;
  transform: rotate(45deg);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
  animation: hbeat 1.2s linear 1;
}

.center-div::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ee5253;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
}
.center-div::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ee5253;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%);
}

@keyframes hbeat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  20% {
    transform: rotate(45deg) scale(1);
  }
  40% {
    transform: rotate(45deg) scale(1.4);
  }
  60% {
    transform: rotate(45deg) scale(1.2);
  }
  80% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
.orderactive {
  transition: all 0.7s ease;
  height: 0;
  overflow: hidden;
}

.activelist {
  height: 155px;
  overflow: auto;
}
.connect {
  background-color: white;
  transition: all 0.4s ease;
  color: black;

  border: 1px solid black;
}
.connect:hover {
  background-color: transparent;
  border-color: white;
  cursor: pointer;
  color: white;
  transform: scale(1.1);
}
.Partnership {
  background-image: url("../public/img2.jpg");
  width: 100%;
  height: 100vh;
}
.metaModal {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba(21, 22, 25, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.showStatus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.showMore {
  transition: all 0.4s ease;
  width: 100%;
}
.image-show {
  height: 250px;
}
option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
}
